.oh-my-zsh/

.config/configstore/update-notifier-npm.json
.config/gh/hosts.yml
.config/gh/state.yml

.config/fish/conf.d/secrets.fish
.config/fish/fish_variables

.config/yarn

.config/graphite/user_config

.config/github-copilot/*
.config/exercism
.config/op/

.DS_Store

!~/.tool-versions

.crush/
CRUSH.md
.claude/
