.oh-my-zsh/
.vim/plugged/*

.config/nvim/lua/user/packer.nvim/
.config/nvim/plugin/
.config/yarn/link/
.config/configstore/update-notifier-npm.json
.config/gh/hosts.yml
.config/gh/state.yml

.DS_Store

config/solargraph_definitions.rb

.tool-versions
!~/.tool-versions
